<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitaleks.walkwithme">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECIEVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!-- Require the step counter and step detector sensors.
        See the method BatchStepSensorFragment#isKitkatWithStepSensor() for a programmatic check if
        support is optional and the application supports a case where these sensors are not available.
    -->
    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".WalkWithMeApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.friends.FriendsDetailsActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ui.myhistory.MyHistoryDetailsActivity"
            android:parentActivityName=".MainActivity"/>

        <receiver android:name=".BootCompletedReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name=".StepCounterService"/>
        <service android:name=".SyncDataService"/>

        <provider
            android:authorities="com.fitaleks.walkwithme.data.database.WalkWithMeProvider"
            android:name="com.fitaleks.walkwithme.data.provider.WalkWithMeProvider"
            android:exported="false"/>

        <!-- Today summary widget -->
        <receiver android:name=".widget.TodaySummaryWidgetProvider"
            android:label="@string/title_widget_today">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.fitaleks.walkwithme.ACTION_DATA_UPDATED"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_summary_today"/>
        </receiver>
        <service android:name=".widget.TodaySummaryWidgetIntentService"/>
    </application>

</manifest>
